<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CostxServer" value="192.168.1.119" />
    <add key="CostxDataBaseName" value="costx" />
    <add key="CostxUserName" value="integration" />
    <add key="CostxPassword" value="1234" />
    <add key="CavSoftServer" value="192.168.1.107\CAVSOFT" />
    <add key="CavSoftDataBaseName" value="SharpSvrDB" />
    <add key="CavSoftUserName" value="sa" />
    <add key="CavSoftPassword" value="smart" />
  </appSettings>
</configuration>
